
/* General Rules */

body {
    padding-top: 70px; /* for the Navbar */
}

.profile-pic {
  width: 128px;
  height: 128px;
}

.profile-pic-thumb {
  width: 24px;
  height: 24px;
}

/* Navbar */

@media (min-width: 768px) {
  .navbar-nav>li>a {
    color: #555;
  }

}

.navbar .nav-icon-btn.nav-icon-btn-danger .label {
    background: #e66454;
}

@media (min-width: 768px) {

  .navbar .nav-icon-btn>a .badge, .navbar .nav-icon-btn>a .label {
    font-size: 8px;
    padding: 0 2px;
    line-height: 10px;
    position: absolute;
    display: block;
    right: 10px;
  }
}

.navbar .nav-icon-btn>a .badge, .navbar .nav-icon-btn>a .label, .navbar .nav-icon-btn>a .small-screen-text {
    display: inline-block;
}
.navbar .dropdown-menu .badge.pull-right, .navbar .dropdown-menu .label.pull-right, .navbar .nav-icon-btn .badge, .navbar .nav-icon-btn .label {
    float: right;
    top: 13px;
}
.navbar .badge, .navbar .dropdown-menu>li>a>.badge, .navbar .dropdown-menu>li>a>.label, .navbar .label {
    font-size: 11px;
    padding: 0 4px;
    line-height: 16px;
    top: -1px;
    position: relative;
}
.notifications-label {
    background: #b0b0b0;
}
.notifications-label {
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    padding: 0 6px;
    display: inline-block;
    font-weight: 600;
}

.nav .dropdown>.dropdown-toggle .nav-icon {
    font-size: 12px;
    display: inline-block;
    margin-right: 8px;
}

.navbar .nav-icon-btn>a .badge, .navbar .nav-icon-btn>a .label, .navbar .nav-icon-btn>a .small-screen-text {
    display: inline-block;
}

@media (min-width: 768px) {
  .navbar .nav-icon-btn>a .small-screen-text {
      display: none;
  }
}

@media (min-width: 768px) {
  .navbar .nav-icon-btn>a .nav-icon {
      display: inline-block;
      font-size: 12px;
      margin: 0!important;
  }
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
.dropdown-menu {
    background: #fff;
    padding: 5px 0;
}
}

@media (min-width: 768px) {
.pull-right .dropdown-menu {
    float: right;
    left: auto;
    right: 0;
}
}

.dropdown-menu {
    padding: 0;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.pull-right .dropdown-menu {
    left: auto;
    float: right;
    right: 0;
}

.widget-notifications .notifications-list {
    overflow: hidden;
    position: relative;
}

@media (min-width: 768px) {
.widget-notifications .notification, .widget-notifications .notifications-link {
    border-color: #f1f1f1;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.05)inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.05)inset;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

}
.widget-notifications .notification {
    position: relative;
    padding: 7px 12px;
}

.widget-notifications .notification-title {
    font-size: 11px;
    font-weight: 700;
    padding-bottom: 1px;
}
.widget-notifications .notification-ago, .widget-notifications .notification-description, .widget-notifications .notification-title {
    display: block;
    margin-right: 35px;
}

@media (min-width: 768px) {
.theme-default #main-navbar .widget-notifications .notification-description {
    color: #999;
}
}

.widget-notifications .notification-description {
    font-size: 11px;
    color: #666;
}
.widget-notifications .notification-ago, .widget-notifications .notification-description, .widget-notifications .notification-title {
    display: block;
    margin-right: 35px;
}

@media (min-width: 768px) {
.theme-default #main-navbar .widget-notifications .notification-ago {
    color: #bbb;
}
}

.widget-notifications .notification-ago {
    font-size: 11px;
    font-style: italic;
    color: #bbb;
}
.widget-notifications .notification-ago, .widget-notifications .notification-description, .widget-notifications .notification-title {
    display: block;
    margin-right: 35px;
}

.widget-notifications .notification-icon {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    margin: -13px 12px 0 0;
    font-size: 14px;
}

.bg-danger, .bg-danger a, .bg-danger a:focus, .bg-danger:active, .bg-danger:focus, .bg-danger:hover {
    color: #fff;
}

@media (min-width: 768px) {
.theme-default #main-navbar .widget-notifications .notification, .theme-default #main-navbar .widget-notifications .notifications-link {
    border-color: #f1f1f1;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.05)inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.05)inset;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
}

.widget-notifications .notifications-link {
    text-align: center;
    padding: 8px 0!important;
    border-top: 1px solid #e4e4e4;
    display: block;
    text-decoration: none!important;
    font-size: 10px;
    font-weight: 800;
    color: #999;
    line-height: 18px!important;
    height: auto!important;
}


/* Loader : http://projects.lukehaas.me/css-loaders/*/
.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #2196F3;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* Navbar */

.navbar-brand {
    padding: 10px;
}

.navbar-brand img {
    height:30px;
    width:120px;
}

.navbar-nav .dropdown-profile {
    padding-top: 13px; 
    padding-bottom: 13px;
}

.navbar-nav .dropdown-profile img {
    margin-right: 8px;
}

.navbar-form[role=search] .form-group {
    display: inline;
}

.navbar-form[role=search] .input-group {
    display: table;
}

.navbar-form[role=search] .input-group-addon {
    width: 1%;
}

.navbar-nav .notification .glyphicon-bell {
  color: #337ab7;
}

/* Index page */

.jumbotron {
    position: relative;
    background: #000 url("/img/libra-bg.jpg") center center;
    width: 100%;
    height: 100%;
    margin-top: -20px;
    margin-bottom: 4rem;
    border-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 0;
    text-align: center;
    color: #fff;
    background-size: cover;
}

.latest-jobs h3 {
    text-align: center;
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-inner {
   margin-bottom:50px;
}

.carousel-inner .item {
    padding: 45px;
}

.carousel-control {
    z-index: 10;
    top: 2%;
    width: 30px; 
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.carousel-control.left,
.carousel-control.right { background: none; color: black; }


.carousel-indicators li {
    background-color: #ccc;
}

.carousel-indicators .active {
    background-color: #666;
}

/* Login page */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .socialButtons a {
    color: white;
    opacity:0.9;
}

.form-signin .socialButtons a:hover {
    color: white;
    opacity:1;      
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-error-box {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cc0000;
  background-color: #ffeeee;
  color: #cc2222;
  font-size: 16px;
}

/* Dashboard */

.main-buttons-row a{
    margin-top: 20px;
    margin-bottom: 20px;
    width:200px;
    height:50px; 
}

/* Profile */

.profile-main-content {
    background: #fff;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.profile-main-content .tab-panels {
    padding: 8px;
}

.profile-main-content .nav-tabs {
    margin-bottom: 20px;
}

.profile-main-content .profile-description
{
    overflow: hidden;
}

.profile-main-content .profile-description
.edit {
    float: right;
}

.profile-main-content .profile-description
textarea {
    width: 100%;
}

.profile-main-content .profile-description
span {
    float: right;
}

.profile-main-content .jobs-list
.badge {
    background-color: transparent;
}

.profile-main-content .jobs-list
.glyphicon-star {
    color: #dddd33;
}

.profile-main-content .jobs-list
.glyphicon-star-empty {
    color: #dddddd;
}

.review-container {
  margin-right: 10px;
  margin-bottom: 10px;
}

.review-container .star-container
{
  float:right;
  vertical-align: middle;
}

.review-container .star-container
.glyphicon-star {
    color: #dddd33;
}

.review-container .star-container
.glyphicon-star-empty {
    color: #dddddd;
}

/* Profile */

.profile-main-content {
    background: #fff;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.profile-main-content .tab-panels {
    padding: 8px;
}

.profile-main-content .nav-tabs {
    margin-bottom: 20px;
}

.profile-main-content .profile-description
{
    overflow: hidden;
}

.profile-main-content .profile-description
.edit {
    float: right;
}

.profile-main-content .profile-description
textarea {
    width: 100%;
}

.profile-main-content .profile-description
span {
    float: right;
}

.profile-main-content .jobs-list
.badge {
    background-color: transparent;
}

.profile-main-content .jobs-list
.glyphicon-star {
    color: #dddd33;
}

.profile-main-content .jobs-list
.glyphicon-star-empty {
    color: #dddddd;
}

.review-container {
  margin-right: 10px;
  margin-bottom: 10px;
}

.review-container .star-container
{
  float:right;
  vertical-align: middle;
}

.review-container .star-container
.glyphicon-star {
    color: #dddd33;
}

.review-container .star-container
.glyphicon-star-empty {
    color: #dddddd;
}

.review-content {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 0px 20px 20px 20px;
}

/* Settings */

.settings-profile-panel .form-control {
  max-width: 450px;
}

/* Search */

.search-results-info {
  display: flex;
  margin-bottom: 20px;
  line-height: 19px;
}

.search-results-info span {
  margin-left: 19px;
}

.search-results-info .search-sort-by {
  margin-left: auto;
  margin-right: 19px;
}

.search-filter {
  padding-bottom: 20px;
}

#searchContainer #applyBtn {
  margin: 30px;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-left: 80px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 230px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
