<!DOCTYPE html>
<html ng-app="libra">
<head>
    <title>Libra | Bidding</title>
    <%- include ../partials/scripts.html %>
</head>
<body>

    <%- include ../partials/navbar.html %>
    
<div class="container">
  <div ng-controller="BiddingCtrl">
    <h2 align="center">Bidding for the Job Offered</h2>
      <div class="form-group">
        <label>Job Title</label><br>
        <label id="headline"  ng-model="serv.headline" >{{headline}} </label>
        <font size="1">By {{serviceowner}}</font>
      </div>

      <div class="form-group">
        <label>Job Description</label>
        <label id="description" rows="14" cols="50" ng-model="serv.des" class="form-control" >{{description}}</label>
      </div>

      <div class="form-group">
        <label>Hourly Wage Range Originaly offered</label>
        </br>
        <label id="minRange" placeholder="Minimum" ng-model="serv.min" >${{min}} - </label>
        <label id="maxRange" placeholder="Maximum" ng-model="serv.max" >${{max}}</label>
      </div>

      <div class="form-group">
        <label>His/her offer</label>
        </br>
        <label id="hisOffer" ng-model="serv.offer" type="text">${{oldoffer}}</label>
      </div>

      <div class="form-group">
        <label>His/her reasoning</label>
        </br>
        <label id="hisReason" ng-model="serv.reason" type="text">	{{oldreason}}</label>
      </div>



    
     <button type="submit" class="btn btn-success" data-title="Edit" data-toggle="modal" data-target="#accept">Accept</button>
     <button type="submit" class="btn btn-danger"  data-title="Edit" data-toggle="modal" data-target="#decline">Decline</button>
     <button type="submit" class="btn btn-warning" data-title="Edit" data-toggle="modal" data-target="#edit">Counter</button>
  






<!--  Pop up for counter biddig -->

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading" align="center">Counter</h4><br>
      </div>
          <div class="modal-body">
          
      
        <div class="form-group">
            <label>Enter salary and an explanation.</label>
            <input id="value" type="number" ng-model="bid.value" placeholder="$ Enter amount" class="form-control input-lg" />
        <textarea id="explanation" ng-model="bid.explanation" rows="2" class="form-control" placeholder="Please enter your explanation here! (Optional)"></textarea>
        
    
        
        </div>
      </div>
          <div class="modal-footer ">
        <button type="button" ng-click="bid(bid,service._id)" class="btn btn-warning btn-lg" style="width: 40%;"><span class="glyphicon glyphicon-ok-sign"></span>Counter Offer</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
 <!--  Pop up for counter biddig -->

 <!--  Pop up for accept biddig -->

<div class="modal fade" id="accept" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading" align="center">Final Confirmation: Accept Offer</h4><br>
      </div>
          <div class="modal-body">
          
      
        <div class="form-group">
            <label>Accept his job offer at a rate of ${{oldoffer}}.</label> 
            <h1>Terms of Service ("Terms")</h1>
<p>Last updated: May 04, 2016</p>
<p>Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the www.Libra.com website (the "Service") operated by Libra ("us", "we", or "our").</p>
<p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
<p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>
<p><strong>Accounts</strong></p>
<p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>
<p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>
<p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>
<p><strong>Links To Other Web Sites</strong></p>
<p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Libra.</p>
<p>Libra has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Libra shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
<p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>
<p><strong>Termination</strong></p>
<p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
<p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
<p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
<p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>
<p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
<p><strong>Governing Law</strong></p>
<p>These Terms shall be governed and construed in accordance with the laws of California, United States, without regard to its conflict of law provisions.</p>
<p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
<p><strong>Changes</strong></p>
<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
<p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
<p><strong>Contact Us</strong></p>
<p>If you have any questions about these Terms, please contact us.</p>

            <label>By clicking "Generate My Terms of Service", you agree to our Terms of Use, Privacy Policy and Disclaimer</label>
        
        </div>
      </div>
          <div class="modal-footer ">
        <button type="button" ng-click="accept()" class="btn btn-success btn-lg" style="width: 60%;"><span class="glyphicon glyphicon-ok-sign"></span>Accept Job</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
 <!--  Pop up for accept biddig -->

 <!--  Pop up for decline biddig -->

<div class="modal fade" id="decline" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading" align="center">Final Confirmation: Decline Offer</h4><br>
      </div>
          <div class="modal-body">
          
      
        <div class="form-group">
            <label>Declining the offer will stop negotiations and notifications between users. </label>
           
        
        </div>
      </div>
          <div class="modal-footer ">
        <button type="button" ng-click="decline()" class="btn btn-danger btn-lg" style="width: 60%;"><span class="glyphicon glyphicon-ok-sign"></span>Decline Offer</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
 <!--  Pop up for decline biddig -->

 		</div>
	</div>
   <%- include ../partials/footer.html %>
</body>
</html>