<!DOCTYPE html>
<html ng-app="libra">
<head>

    <title>Libra</title>

    <%- include ../partials/scripts.html %>

</head>
<body ng-controller="DashboardController as dashCtrl">

    <%- include ../partials/navbar.html %>

    <div class="page-content">
        <div class="container">
            <div class="row main-buttons-row">
                
                <a href="post" class="btn btn-lg btn-success center-block">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Post A Service
                </a>
            
            </div>

            <div class="row">

                <div class=" bouncy">
                    
                    <h4 style="text-align: center;">Latest Services</h4>
                    <hr>
                    <div class="list-group container-fluid">
                        <search-job-item ng-repeat="service in latestServices"></search-job-item>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <%- include ../partials/footer.html %>

</body>
</html>