<!DOCTYPE html>
<html ng-app="libra">
<head>
    <title>Libra | Post</title>
    <%- include ../partials/scripts.html %>
</head>
<body>

    <%- include ../partials/navbar.html %>
    
<div class="container">
  <div ng-controller="PopoverDemoCtrl">
    <h2 align="center">Add a New Service Post</h2>
      <div class="form-group">
        <label>Post Headline</label>
        <input id="headline" type="text" ng-model="dynamicPopover.templateUrl" class="form-control" placeholder="Enter Headline">
      </div>

      <div class="form-group">
        <label>Service Discription</label>
        <textarea id="description" rows="14" cols="50" ng-model="dynamicPopover.title" class="form-control" placeholder="Enter Service Discription..."></textarea>
      </div>

      <div class="form-group">
        <label>Hourly Wage Range</label>
        </br>
        <input id="minRange" placeholder="Minimum" type="text"></input>
        <input id="maxRange" placeholder="Maximum" type="text"></input>
      </div>

     <div class="form-group">
        <label>Enter Keywords For Job Category</label></br>
        <input id="tags" type="text" class="form-control" placeholder="This Helps To Optimize Search."></input>
     </div>
     <button type="submit" class="btn btn-success">Submit</button>
     <button type="submit" class="btn btn-danger">Cancel</button>
  </div>
</div>
    <%- include ../partials/footer.html %>
</body>
</html>

