<!DOCTYPE html>
<html ng-app="libra">
<head>
    <title>Libra | Post</title>
    <%- include ../partials/scripts.html %>
</head>
<body>

    <%- include ../partials/navbar.html %>
    
<div class="container">
  <div ng-controller="PostCtrl">
    <h2 align="center">Add a New Service Post</h2>
      <div class="form-group">
        <label>Post Headline</label>
        <input id="headline" type="text" ng-model="serv.headline" class="form-control" placeholder="Enter Headline">
      </div>

      <div class="form-group">
        <label>Service Description</label>
        <textarea id="description" rows="14" cols="50" ng-model="serv.des" class="form-control" placeholder="Enter Service Description..."></textarea>
      </div>

      <div class="form-group">
        <label>Hourly Wage Range</label>
        </br>
        <input id="minRange" placeholder="Minimum" ng-model="serv.min" type="number"></input>
        <input id="maxRange" placeholder="Maximum" ng-model="serv.max" type="number"></input>
        </br> </br> <label>Estimated Total Amount of Hours</label>
        </br>
        <input id="totalHours" placeholder="Hours" ng-model="serv.hours" type="number"></input>
      </div>

     <div class="form-group">
        <label>Enter Keywords For Job Category</label></br>
        <tags-input ng-model="serv.tags" type="text" add-on-space="true" placeholder="This Helps To Optimize Search."></tags-input>
        <!-- <input id="tags" type="text" ng-model="serv.tag" class="form-control" placeholder="This Helps To Optimize Search."></input> -->
     </div>
     <button type="submit" ng-click="postserv(serv)" class="btn btn-success">Submit</button>
     <button type="submit" class="btn btn-danger">Cancel</button>
  </div>
</div>
    <%- include ../partials/footer.html %>
</body>
</html>

