<!DOCTYPE html>
<html ng-app="libra">
<head>
    <title>Libra</title>

    <%- include ../partials/scripts.html %>

</head>
<body>

    <%- include ../partials/navbar.html %>
    
    <div class="container">

    <section class="profile-summary well well-lg">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <img src="http://placehold.it/128x128" alt="User profile picture" class="img-responsive img-circle"/> 
            </div>

            <div class="col-sm-9 col-md-10">
                <h1><%- user.name %></h1>
                <i><%- user.email %></i>
            </div>

        </div>
    </section>

    <section class="profile-main-content">
        <ul class="nav nav-tabs">
            <li class="acive"> 
                <a href="#">Summary</a> 
            </li>
            <li> 
                <a href="#">Jobs requested 
                    <span class="badge alert-info">5</span>
                </a> 
            </li>
            <li> 
                <a href="#">Jobs provided 
                    <span class="badge alert-info">2</span>
                </a>
            </li>
            <li> <a href="#">Reviews</a> </li>
        </ul>

        <div class="jobs-list list-group">
            <div class="list-group-item">
                <a href="#">Dapibus ac facilisis in</a>
                <span class="badge">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </span>
            </div>
            <div class="list-group-item">
                <a href="#">Dapibus ac facilisis in</a>
                <span class="badge">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </span>
            </div>
            <div class="list-group-item">
                <a href="#">Dapibus ac facilisis in</a>
                <span class="badge">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </span>
            </div>
            <div class="list-group-item">
                <a href="#">Dapibus ac facilisis in</a>
                <span class="badge">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </span>
            </div>
            <div class="list-group-item">
                <a href="#">Dapibus ac facilisis in</a>
                <span class="badge">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </span>
            </div>
            <nav class="text-center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </section>

    </div>
    
    <%- include ../partials/footer.html %>

</body>
</html>