<!DOCTYPE html>
<html ng-app="libra">
<head>
    <title>Libra</title>

    <%- include ../partials/scripts.html %>

</head>
<body ng-init="profileCtrl.init('<%- profileId %>')" ng-controller="ProfileController as profileCtrl">

    <%- include ../partials/navbar.html %>
    
    <div class="container">

    <section class="profile-summary well well-lg">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <img src="http://placehold.it/128x128" alt="User profile picture" class="img-responsive img-circle"/> 
            </div>

            <div class="col-sm-9 col-md-10">
                <h1><%- user.name %></h1>
                <i><%- user.email %></i>
            </div>

        </div>
    </section>

    <section class="profile-main-content">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{ 'active': profileCtrl.isTabSelected(1) }"> 
                <a href="#" ng-click="profileCtrl.setTab(1)">Description</a> 
            </li>
            <li role="presentation" ng-class="{ 'active': profileCtrl.isTabSelected(2) }">
                <a href="#" ng-click="profileCtrl.setTab(2)">Jobs requested 
                    <span class="badge alert-info">{{servicesRequested.length}}</span>
                </a> 
            </li>
            <li role="presentation" ng-class="{ 'active': profileCtrl.isTabSelected(3) }">
                <a href="#" ng-click="profileCtrl.setTab(3)">Jobs provided 
                    <span class="badge alert-info">2</span>
                </a>
            </li>
            <li role="presentation" ng-class="{ active: profileCtrl.isTabSelected(4) }">
                <a href="#" ng-click="profileCtrl.setTab(4)">Reviews
                <span class="badge alert-info">{{reviews.length}}</span>
                </a> 
            </li>
        </ul>

        <div class="tab-panels">
            
            <profile-jobs-list ng-show="profileCtrl.isTabSelected(2)"></profile-jobs-list>

            <profile-reviews-tab ng-show="profileCtrl.isTabSelected(4)"></profile-reviews-tab>
            
        </div>

    </section>

    </div>
    
    <%- include ../partials/footer.html %>

</body>
</html>