<!DOCTYPE html>
<html>
<head>
	
	<title>Libra | User registration</title>

	<%- include ../partials/scripts.html %>
	<!-- <script src="controler.js"></script>-->
	<!-- Jquery Import-->
	 <script type="text/javascript">
	 	
            function check()
            {
                if (document.getElementById('name').value==""
                 || document.getElementById('email').value==""
                 || document.getElementById('password').value==""
              )
                {
                    alert ("Please enter your information in all the fields.");
                    return false;
                }
                else window.location ="/dashboard";
                return true;
            }

        </script>

</head>
<body>
	
	<%- include ../partials/navbar.html %>

	<!--  Page Content-->
<div class="container-fluid">
    <section class="container">
    	<h1 align="center" class="register-header">Join the world's largest professional network</h1>
		<div class="container-page">				
			<div class="col-md-6">
				<h2 class="dark-grey"></h2>
				
				<img src="img/international.jpg" class="pull-left" width="450px">		
			
			</div>
		
			<div class="col-md-6">
				<h1 class="dark-grey">Get started - it's free</h1>
				<p>Registration takes less than 2 minutes.</p>
			<div ng-controller="loginCtrl">
			
			<form action="/api/users/register" id="mylogin" method="post">
				<div class="form-group col-lg-12">
					<input type="" name="name" class="form-control" id="name" ng-model="name" placeholder="Type First Name and Last Name" required>
				</div>
				
				<div class="form-group col-lg-12">
					<input type="" name="email" class="form-control" id="EmailAddress" ng-model="EmailAddress" value="" placeholder="Email Address" required>
				</div>

				<div class="form-group col-lg-12">
					<input type="password" name="password" class="form-control" id="password" ng-model= "password" value="" placeholder="Enter Password" required>
					<label> Password must be 6 to 16 characters and have one number and one special character </label>
				</div>
				
				<div class="form-group col-lg-12">
					<p>By clicking Join Now, you agree to ProConnect's <b>User Agreement</b>, <b>Privacy Policy</b> and <b>Cookie Policy.</b></p>
				</div>
				<div class="col-lg-6">
				<button type="submit" class="btn btn-primary" ng-click="submit()" onclick="return check();">Join Now</button>
				</div>

			</form>
			<!-- End of the form-->
			</div>
			<!-- End of ng-controller-->
			</div>
		</div>
	</section>
</div>
<!-- End Of Page Content -->

</body>

</html>