<!DOCTYPE html>
<html ng-app="libra">
<head>
    <title>Libra</title>

    <%- include ../partials/scripts.html %>

</head>
<body ng-init="settingsCtrl.init('<%- user._id %>')" ng-controller="SettingsController as settingsCtrl">

    <%- include ../partials/navbar.html %>
    
    <div class="container">

    <div class="settings-profile-panel panel panel-default">
        <div class="panel-heading">Profile</div>
        <div class="panel-body">
        <form class="simple-form">  
            <div class="form-group">

                <label> Picture </label> <br>
            
                <img class="img-circle" ng-src="{{user.picture_url || 'http://placehold.it/128x128'}}" style="width: 128px; height: 128px;">
            
                <div class="btn btn-default" ngf-select="getUrl($file)" accept="image/*">Upload new file</div>


            </div>

            <div class="form-group">
                <label for="name">Name</label><br>
                <input id="name" type="text" class="form-control" ng-model="user.name"/>
            </div>

            <div class="form-group">
                <label for="email">Email</label><br>
                <input id="email" type="email" class="form-control" ng-model="user.email"/>
            </div>

            <input type="submit" class="btn btn-success" value="Update" ng-click="updateProfile()">

            <label class="spinner" ng-show="isUpdateProfileProgress">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
            </label>    

            <span class="glyphicon glyphicon-ok text-success" ng-show="isUpdateProfileSuccess"></span>

            <span class="glyphicon glyphicon-remove text-danger" ng-show="isUpdateProfileFail">
                {{updateProfileFailMessage}}
            </span>

        </form>
      </div>
    </div>

    <div class="settings-profile-panel panel panel-default">
        <div class="panel-heading">Social</div>
        <div class="panel-body">
        <form class="simple-form">  
            
            <div class="form-group" >
                <a href="/api/users/connect/facebook" class="btn btn-social btn-facebook" ng-hide="settingsCtrl.connectedFb()">
                    <span class="fa fa-facebook"></span>Connect Facebook
                </a>
                <a href="/api/users/disconnect/facebook" class="btn btn-social btn-facebook" ng-show="settingsCtrl.connectedFb()">
                    <span class="fa fa-facebook"></span>Disconnect Facebook
                </a>
                <a ng-href="{{user.fb_url}}" ng-show="settingsCtrl.connectedFb()">{{user.fb_url}}</a>
            </div>

            <div class="form-group" >
                <a class="btn btn-social btn-linkedin">
                            <span class="fa fa-linkedin"></span> Connect Linkedin
                        </a>
            </div>

        </form>
      </div>
    </div>

    <div class="settings-profile-panel panel panel-default">
        <div class="panel-heading">Password</div>
        <div class="panel-body">
        <form class="simple-form">  
            
            <div class="form-group" >
                <label for="currentpassword">Current Password</label><br>
                <input id="currentpassword" type="password" class="form-control" ng-model="currentPassword"/>
            </div>

            <div class="form-group" >
                <label for="newpassword">New Password</label><br>
                <input id="newpassword" class="form-control" type="password" ng-model="newPassword"/>
            </div>

            <input type="submit" class="btn btn-success" value="Update" ng-click="updatePassword()">

            <label class="spinner" ng-show="isUpdatePasswordProgress">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
            </label>    

            <span class="glyphicon glyphicon-ok text-success"  ng-show="isUpdatePasswordSuccess"></span>

            <span class="glyphicon glyphicon-remove text-danger" ng-show="isUpdatePasswordFail">
                {{updatePasswordFailMessage}}
            </span>

        </form>
      </div>
    </div>
    

    </div>
    
    <%- include ../partials/footer.html %>

</body>
</html>