<!DOCTYPE html>
<html ng-app="libra">
<head>
    <title>Libra</title>

    <%- include ../partials/scripts.html %>

</head>
<body ng-init="settingsCtrl.init('<%- user._id %>')" ng-controller="SettingsController as settingsCtrl">

    <%- include ../partials/navbar.html %>
    
    <div class="container">

    <div class="settings-profile-panel panel panel-default">
        <div class="panel-heading">Profile</div>
        <div class="panel-body">
        <form class="simple-form">  
            <div class="form-group">

                <label> Picture </label> <br>
            
                <img class="img-circle" ng-src="{{user.picture_url || 'http://placehold.it/128x128'}}">
            
                <div class="btn btn-default" ngf-select="getUrl($file)" accept="image/*">Upload new file</div>


            </div>
            
            <div class="form-group">
                <label for="name">Name</label><br>
                <input id="name" type="text" class="form-control" ng-model="user.name"/>
            </div>

            <div class="form-group">
                <label for="email">Email</label><br>
                <input id="email" type="email" class="form-control" ng-model="user.email"/>
            </div>

            <input type="submit" class="btn btn-success" value="Update">

        </form>
      </div>
    </div>

    <div class="settings-profile-panel panel panel-default">
        <div class="panel-heading">Password</div>
        <div class="panel-body">
        <form class="simple-form">  
            
            <div class="form-group" >
                <label for="c_password">Current Password</label><br>
                <input id="c_password" type="password" class="form-control"/>
            </div>

            <div class="form-group" >
                <label for="n_password">New Password</label><br>
                <input id="n_password" class="form-control" type="password"/>
            </div>

            <input type="submit" class="btn btn-success" value="Update">

        </form>
      </div>
    </div>
    

    </div>
    
    <%- include ../partials/footer.html %>

</body>
</html>