<header>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="UserController as userCtrl">
        <div class="container-fluid">
            
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="/img/libra-sign.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">

				<ul class="nav navbar-nav navbar-right">
					<%if (locals.user) { %>
						<li class="dropdown">
							<a class="dropdown-toggle dropdown-profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<img src="<%- locals.user.picture_url %>" class="profile-pic-thumb img-circle"> <%- user.name %> <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href='/dashboard'>Dashboard</a></li>
								<li><a href='/profile/<%- user._id %>'>My Profile</a></li>
								<li><a href='/settings'>Settings</a></li>
								<li role="separator" class="divider"></li>
								<li>
									<a ng-click="logout()">Logout</a>
								</li>  
							</ul>
						</li>
                        <li class="nav-icon-btn nav-icon-btn-danger dropdown" ng-controller="NotificationController as notificationCtrl">
                                <a href="#notifications" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="label" ng-show="(notifications | filter:{read:false}).length > 0">{{(notifications | filter:{read:false}).length}}</span>
                                    <i class="nav-icon fa fa-bullhorn"></i>
                                    <span class="small-screen-text">Notifications</span>
                                </a>

                                <!-- NOTIFICATIONS -->
                                
                                <!-- / Javascript -->

                                <div class="dropdown-menu widget-notifications no-padding" style="width: 300px">
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;"><div class="notifications-list" id="main-navbar-notifications" style="overflow: hidden; width: auto; height: 250px;">

                                        <notification-widget ng-repeat="notification in notifications | orderBy: 'read'| limitTo:5">
                                        </notification-widget>

                                    </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 195.925px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div> <!-- / .notifications-list -->
                                    <a href="#" class="notifications-link">MORE NOTIFICATIONS</a>
                                </div> <!-- / .dropdown-menu -->
                            </li>
					<%} else { %>
						<li><a href="/login">Signin</a></li>
						<li><a href="/register">Register</a></li>
					<%}%>
					<li><a href="#">About</a></li>
				</ul>

                <form class="navbar-form" role="search" method="get" action="/search">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input class="form-control" id="q" name="q" placeholder="Search for jobs here" autocomplete="off" autofocus="autofocus" type="text">
                    </div>
                </div>
                </form>

            </div><!-- /.navbar-collapse -->

        </div>
    </nav>

</header>