<div class="jobs-list list-group" >

<a ng-href="/service/{{service._id}}" class="list-group-item" ng-repeat="service in services">
 
   <div class="container">
    {{service.headline}}
    <span class="badge">
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        

        <button type="button" class="btn btn-danger btn-sm" ng-click="delPost('{{service._id}}')">
          <span class="glyphicon glyphicon-remove"></span> Remove 
        </button>
    </span>
</div>
  
</a>

</div>
<!-- <nav class="text-center">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav> -->