
<link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/libs/bootstrap-social/bootstrap-social.css">
<link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.css">

<link rel="stylesheet" href="/libs/ng-tags-input/ng-tags-input.min.css">
<link rel="stylesheet" href="/libs/ng-tags-input/ng-tags-input.bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/src/css/styles.css">

<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Angular -->
<script type="text/javascript" src="/libs/angular/angular.min.js"></script>

<!-- Tags input -->
<script type="text/javascript" src="/libs/ng-tags-input/ng-tags-input.min.js"></script>

<!-- Marked -->
<script src="/libs/marked/marked.min.js"></script>
<script src="/libs/angular-marked/dist/angular-marked.min.js"></script>

<!-- File upload -->
<script src="/libs/ng-file-upload/ng-file-upload.min.js"></script>

<!-- Libra app -->
<script type="text/javascript" src="/src/js/app.js"></script>